# Dependencies
node_modules

# Next.js
.next
out
dist

# Env
*.local
.env

# Vercel
.vercel

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?

# Test artifacts
test-results
.playwright-cli

# Logs
*.log
